<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./src/bizlunch/test/functionnal/bootstrap.php"
         backupGlobals="false"
         colors="true">

    <!-- Dummy values used to provide credentials. No need to change these. -->
    <php>
        <server name="AWS_ACCESS_KEY_ID" value="foo" />
        <server name="AWS_SECRET_ACCESS_KEY" value="bar" />
    </php>

    <testsuites>
        <testsuite name="Aws">
            <directory>src/bizlunch/test/functionnal</directory>
        </testsuite>
    </testsuites>

    <!-- Exclude the integration tests in regular unit tests -->
    <groups>
        <exclude>
            <group>integration</group>
            <group>performance</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/bizlunch</directory>
        </whitelist>
    </filter>

</phpunit>
